<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        {% include head.html %}
    </head>

    <body class="w3-light-grey">

        <!-- Page Container -->
        <div class="w3-content w3-margin-top" style="max-width:1400px;">
            {% include navigation.html %}
        
          <!-- The Grid -->
          <div class="w3-row-padding">

          

            </div>
            
            <!-- ### Right Column ##### -->
            {{ content }}
            <!-- End Right Column -->
            
          <!-- End Grid -->
          </div>
          
          <!-- End Page Container -->
        </div>
        {% include footer.html %}
        </body>
</html>
    
